
<!DOCTYPE html>
<html>
<form>
<body>
<h2> GCSE grade Prediction App </h2>

<div class="container">
  <h3> Please upload your data file </h3>

  <form action = "upload.php" method="POST" enctype="multipart/form-data">

  Name of school: <input type="text" name="Name of school" id="schoolid">

  Choose file: <input type="file" name="fileToUpload" id="fileToUpload">

  <button type="submit" class="link"><a href="home.html">submit</a></button>

</div>
</form>   
</body>
</html>

	
